:root{
    --black:#000000;
    --green:#98bc6c;
    --dark-green:#88b45c;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 100px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    .accordion {
      width: 100%;
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    
    .qa {
      color: var(--white);
      padding: 1rem;
      transition: background-color 500ms;
      border-top: 2px solid var(--white);
    }
    
    .question button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: none;
      background: none;
      padding: 0;
    }
    
    .question h2 {
      margin: 0;
      color: var(--white);
      font-family: 'Satoshi',sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
    }
    
    .question button::after{
      font-size: 2rem;
      color: var(--white);
      content: '+';
      transition: rotate 500ms;
    }
    
    .answer {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 500ms;
    }
    .answer div{
      overflow: hidden;
    }
    .answer div p{
      margin-bottom: 1rem;
    }
    .answer.active {
      grid-template-rows: 1fr;
    }
    .question button.active::after{
      rotate: 45deg;
    }
    .qa:has(.answer.active){
      background-color: var(--dark-green);
    }
