:root{
    --black:#232323;
    --green:#2fb5c0;
    --white:#ffffff;
    --dark-green:#1b7e87;
}
.hero{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    gap: .5rem;
    min-height: 30rem;
    height: 70vh;
    max-height: 80rem;
}
div:has(img) img{
    width: 100%;
    height: 100%;
}
.scroll{
    position: relative;
}
.scroll p a{
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    font-size: 1.3rem;
    color: var(--white);
    display: flex;
    align-items: center;
}
.scroll p a ion-icon{
    margin-left: .5rem;
    transform: translatey(.1rem);
    font-size: 1.3rem;
}
.scroll p a:hover ion-icon{
    animation: down 500ms;
}
@keyframes down{
    0%{
        transform: translatey(.1rem); 
    }
    50%{
        transform: translatey(.5rem); 
    }
    100%{
        transform: translatey(.2rem); 
    }
}
.sec2{
    margin-top: 4rem;
}
.sec2 p{
    max-width: 45REM;
}