:root{
    --black:#000000;
    --green:#2fb5c0;
    --white:#ecf2f5;
    --dark-green:#1b7e87;
}
.hero{
    background-color: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size: 15rem;
    margin-block: .5rem;
    margin-top: 2rem;
}
.hero img{
    width: 70%;
}

section{
    padding: 2rem;
}
.section h2{
    margin-top: 0;
}
.paras{
    display: flex;
    gap: 3rem;
}
.paras h3{
    margin-top: 0;
    margin-bottom: .2rem;
}
section p{
    max-width: 60rem;
}